<html>
  <%-include("./layout/head")-%>
  <body>
    <%-include("./layout/header")-%>
    <main class="main">
      <section class="form_section">
        <%if(pageTitle==="Login"){%> <%-include("./layout/loginForm")-%> <%}%>

        <!-- <%if(pageTitle==="SignUp"){%>
        <h1>SignUp with</h1>
        <%}%> -->
      </section>
    </main>
  </body>
</html>
