<html>
  <%-include("./layout/head")-%>
  <body>
    <%-include("./layout/header")-%>
    <main class="main">
      <%if(pageTitle==="Login"){%> <%-include("./layout/loginForm")-%> <%}%>
      <%if(pageTitle==="SignUp"){%> <%-include("./layout/signUpForm")-%> <%}%>
    </main>
  </body>
</html>
