* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
input,
button {
  border: none;
  outline: none;
}
body {
  font-family: "JetBrains Mono", monospace;
}
.header {
  padding: 1rem 5%;
}

.header ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header ul .logo {
  color: orangered;
}

.header ul nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.header ul nav li {
  margin: 0 0.5rem;
}
.header ul nav li a {
  cursor: pointer;
  color: black;
  padding: 0.5rem 0.6rem;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 16px;
}
.header ul nav li a:hover {
  color: rgb(255, 69, 0, 0.5);
}
.header ul nav li a.active {
  color: orangered;
}

.header ul nav li.login a,
.header ul nav li.logout a {
  color: white;
  background-color: orangered;
}
.header ul nav li.login a:hover,
.header ul nav li.logout a:hover {
  background-color: rgb(255, 69, 0, 0.8);
  transition: all 0.4s ease;
}

.main {
  padding: 1rem 5%;
}

.main .welcome_message {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}
.main .welcome_message span {
  color: orangered;
  font-style: italic;
}

/*? ------------------------------------------------ */
/**              //Form styles                       */
/*? ------------------------------------------------ */
.auth_form {
  max-width: 30rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem;
}

.auth_form h1 {
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  margin: 0.5rem 0;
}

.auth_form .google {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  color: black;
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 5px;
  box-shadow: #ccc 0px 5px 15px;
  font-size: 18px;
  line-height: 27px;
  padding: 0.5rem 0.6rem;
}
.auth_form .google span {
  flex: 0.5;
  font-size: 30px;
  color: orangered;
}
.auth_form .google p {
  flex: 1.5;
  text-align: center;
}
.auth_form .or {
  position: relative;
  margin: 1.5rem 0;
}
.auth_form .or hr {
  z-index: -1;
}
.auth_form .or p {
  position: absolute;
  top: -0.5rem;
  left: 50%;
  background-color: white;
  width: 5rem;
  margin-left: -2.5rem;
  text-align: center;
}
/* .auth_form  .form_controls {
  margin: 0.5rem 0;
} */
.auth_form .form_controls .form_control {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}
.auth_form .form_controls .form_control label {
  font-size: 18px;
  line-height: 27px;
  margin: 0.5rem 0;
}
.auth_form .form_controls .form_control .password_container {
  position: relative;
}
.auth_form .form_controls .form_control input {
  font-size: 16px;
  padding: 0.5rem 0.6rem;
  border-radius: 5px;
  background-color: rgb(244, 239, 239);
  outline: 1px solid rgb(241, 238, 238);
  width: 100%;
  padding-right: 2.5rem;
}
.auth_form .form_controls .form_control input:focus {
  outline: 1px solid orangered;
}
.auth_form .form_controls .form_control .password_container input:focus {
  outline: 1px solid orangered;
}
.auth_form .form_controls .form_control .password_container .eye_container {
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
}
.auth_form .form_controls .form_control .password_container .eye_container .eye-show {
  display: none;
}
.auth_form .form_controls .form_control .password_container .eye_container.show .eye-show {
  display: block;
}
.auth_form .form_controls .form_control .password_container .eye_container .eye-hide {
  display: block;
}
.auth_form .form_controls .form_control .password_container .eye_container.show .eye-hide {
  display: none;
}
.auth_form .form_actions {
  margin: 1rem 0;
}
.auth_form .form_actions .reply {
  text-align: center;
  margin: 0.5rem 0;
  opacity: 0;
}
.auth_form .form_actions .reply.error {
  display: block;
  color: red;
}
.auth_form .form_actions button {
  cursor: pointer;
  width: 100%;
  padding: 0.5rem 0.6rem;
  background-color: orangered;
  color: white;
  border-radius: 5px;
  font-size: 18px;
}
/* .auth_form .form_footer {
  background-color: red;
} */
.auth_form .form_footer p {
  text-align: center;
}
.auth_form .form_footer p a {
  cursor: pointer;
  color: orangered;
}
/*? Profile styles */
main.profile_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.profile_page .profile_picture {
  margin: 0.5rem 0;
}
main.profile_page .profile_picture img {
  border-radius: 50%;
}
main.profile_page .user_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
main.profile_page .user_details .user_detail {
  margin: 0.5rem 0;
}
main.profile_page .user_details .user_detail label:first-child {
  font-weight: bold;
}
/*? Not Found styles */
.not_found {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
}

.not_found h1 {
  font-size: 25px;
  line-height: 38px;
  padding: 0.5rem 0;
}
.not_found p {
  font-size: 16px;
  line-height: 24px;
  padding: 0.5rem 0;
}

.not_found a {
  cursor: pointer;
  background-color: orangered;
  padding: 0.5rem 0.6rem;
  color: white;
  margin: 0.5rem 0;
  border-radius: 5px;
}
.not_found a:hover {
  background-color: rgb(255, 69, 0, 0.8);
  transition: all 0.4s ease;
}
@media (min-width: 400px) {
  .header ul {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .header ul nav {
    margin: 0;
  }
  .auth_form .google p {
    text-align: left;
  }
}
@media (min-width: 500px) {
  main.profile_page {
    flex-direction: row;
    align-items: center;
  }
  main.profile_page .user_details {
    padding-left: 1rem;
    width: auto;
  }
  .auth_form {
    padding: 1rem 2rem;
  }
}
