<html>
  <%-include("./layout/head")-%>
  <body>
    <%-include("./layout/header")-%>
    <main class="main">
      <h1 class="welcome_message">Hey! Welcome to Open Authorization test website</h1>
    </main>
  </body>
</html>
