<html>
  <%-include("./layout/head")-%>
  <body>
    <%-include("./layout/header")-%>
    <main class="main">
      <form class="login-form">
        <h1>Login with</h1>
        <a class="icon" href="/auth/login/google"><i class="bx bxl-google"></i></a>
      </form>
    </main>
  </body>
</html>
