<html>
  <%-include("./layout/head")-%>
  <body>
    <section class="not_found">
      <h1>Page Not Found</h1>
      <p>You might not have permissions to see this page</p>
      <a href="/auth/login">Login</a>
    </section>
  </body>
</html>
