<header class="header">
  <ul>
    <h1 class="logo">Oauth</h1>
    <nav>
      <li><a>Home</a></li>
      <li><a>Login</a></li>
      <li><a>Logout</a></li>
      <li><a>Profile</a></li>
    </nav>
  </ul>
</header>
