<form>
  <h1>Log in</h1>
  <a class="google" href="/auth/google">
    <span class="icon"><i class="bx bxl-google"></i></span>
    <p>Use Google Account</p></a
  >
  <div class="or">
    <hr />
    <p>Or</p>
  </div>

  <div class="form_controls">
    <div class="form_control">
      <label>Username</label>
      <input type="text" />
    </div>
    <div class="form_control">
      <label>Password</label>
      <div class="password_container">
        <input type="password" />
        <div class="eye_container">
          <i class="bx bxs-show icon eye-show"></i>
          <i class="bx bxs-hide icon eye-hide"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="form_actions">
    <button>Log In</button>
  </div>
</form>
