<form class="auth_form">
  <h1>Sign Up</h1>
  <a class="google" href="/auth/google">
    <span class="icon"><i class="bx bxl-google"></i></span>
    <p>Use Google Account</p></a
  >
  <div class="or">
    <hr />
    <p>Or</p>
  </div>
  <p class="reply">This is the reply</p>
  <div class="form_controls">
    <div class="form_control">
      <label for="email_address_input">Email Address</label>
      <input name="emailAddress" type="email" class="auth_email_address_input" id="email_address_input" />
    </div>
    <div class="form_control">
      <label for="password_input">Password</label>
      <div class="password_container">
        <input name="password" type="password" class="auth_password_input" id="password_input" />
        <div class="eye_container">
          <i class="bx bxs-show icon eye-show"></i>
          <i class="bx bxs-hide icon eye-hide"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="form_actions">
    <button type="submit" class="signup-button">Sign Up</button>
  </div>
  <div class="form_footer">
    <p>Already have an account? <a href="/auth/login">Log In</a></p>
  </div>
</form>
