<form class="auth_form">
  <h1>Sign Up</h1>
  <a class="google" href="/auth/google">
    <span class="icon"><i class="bx bxl-google"></i></span>
    <p>Use Google Account</p></a
  >
  <div class="or">
    <hr />
    <p>Or</p>
  </div>
  <div class="form_controls">
    <div class="form_control">
      <label>Email Address</label>
      <input type="text" />
    </div>
    <div class="form_control">
      <label>Password</label>
      <div class="password_container">
        <input type="password" />
        <div class="eye_container">
          <i class="bx bxs-show icon eye-show"></i>
          <i class="bx bxs-hide icon eye-hide"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="form_actions">
    <p class="reply">This is the reply</p>
    <button>Sign Up</button>
  </div>
  <div class="form_footer">
    <p>Already have an account? <a href="/auth/login">Log In</a></p>
  </div>
</form>
