<html lang="en">
  <%-include("layout/head")%>
  <body>
    <section class="not_found">
      <h2>Page Not Found</h2>
      <p>You might not have permissions to see this page</p>
      <a href="/groceries">Visit Groceries</a>
    </section>
  </body>
</html>
